@import './fonts.css';
@import './tailwind.css';
@import './theme.css';


body {
  font-family: 'Poppins', sans-serif !important;
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

/* 🔥 pausa al pasar el mouse */
.animate-scroll:hover {
  animation-play-state: paused;
}
/* ocultar barra */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

